.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
}

.item {
    margin: 0.5rem 1rem 1rem 3rem;
    width: 90%;
}

.grid-minor {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid-checkbox {
    display: grid;
    grid-template-columns: 6% 50%;
}

.grid-image {
    display: grid;
    grid-template-columns: 50% 50%;
}
