:root {
  --img-padding: 1.5rem;
}

.image {
  position: relative;
}

.image--rotate {
  transform: rotate(0deg);
}

.image--rotate:hover {
  transform: rotate(30deg);
}

.image--rotateleft:hover {
  transform: rotate(-30deg);
}

.image__img,
.image__picture {
  display: block;
  object-fit: cover;
  object-position: center center;
  transition: all 500ms ease-in-out;
  /*Egen kod, från brungrå bild till blågrå*/
  filter: hue-rotate(120deg) saturate(0%);
  max-width: 100%;
  max-height: 100%;
}

.image--color .image__img,
.image--color .image__picture {
  position: relative;
}

.image--color .image__img::after,
.image--color .image__picture::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  background-color: hsl(var(--hue-1), 20%, 40%);
  mix-blend-mode: color;
  opacity: .35;
  content: "";
}

.image--circle,
.image--circle .image__img,
.image--circle .image__picture,
.image--circle .image__img::after,
.image--circle .image__picture::after {
  border-radius: 100vmax;
}

.image--rotate .image__img:hover,
.image--rotate .image__picture:hover {
  transform: rotate(30deg);
}

/*Gruppens egna tillägg på Alexanders kod*/
.image--circle>img {
  border-radius: 100vmax;
}

.image__img {
  width: 100px;
  height: 100px;
}

.righty {
  margin-left: 150px;
  margin-bottom: 50px;
  margin-top: -70px;
}

.lefty {
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: -70px;
}


.flag-section {
  width: 100%;
  height: 300px; /* Adjust height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

}

.finnish-flag {
  width: 200px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  background-image: url('https://media.tenor.com/yDZjDH0Rx8oAAAAi/finland-suomi.gif'); /* Replace with your flag image path */
  background-size: cover;
  animation: wave 3s infinite linear;

}
