.page-header {
    padding: 2rem 0;
    margin-left: .3ch;
    color: white;
    font-weight: 900;
    letter-spacing: .075em;
    line-height: 100%;
    text-align: center;
    font-size: 3rem;
}

.page-header h2 {
    letter-spacing: .075em;
    font-size: 2rem;
}

.page-header span {
    color: red;
}

.parent-window {
    width: 80rem;
    height: 30rem;
    background-color: aliceblue;
    border-radius: 1rem;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {
    margin-top: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat (2, 1fr);
}

.item {
    margin: 0.5rem 1rem 1rem 3rem;
    width: 90%;
}

.divvar {
    border: .1rem solid black;
}


label {
    font-size: 1.5rem;
}

.grid-minor {
    display: grid;
    grid-template-columns: 30% 70%;
}


.grid-image {
    display: grid;
    grid-template-columns: 50% 50%;
}