.page-header {
    padding: 2rem 0;
    margin-left: .3ch;
    color: white;
    font-weight: 900;
    letter-spacing: .075em;
    line-height: 100%;
    text-align: center;
    font-size: 3rem;
}

.page-header h2 {
    letter-spacing: .075em;
    font-size: 2rem;
}

.page-header span {
    color: red;
}

.parent-window {
    width: 80rem;
    height: 30rem;
    background-color: aliceblue;
    border-radius: 1rem;
}

.window {
    margin-top: 5rem;
}

.button {
    height: 5rem;
    border-radius: 1rem;
    background-color: #143553;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
}

.divven {
    display: flex;
    align-items: center;
    border: .1rem solid black;
    height: 5rem;
    font-size: 1.5rem;
}

label {
    font-size: 1.5rem;
}